{% extends "layout.html" %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    {% if primary_msg %}
        <div class="alert alert-primary" role="alert">
            {{ primary_msg }}
        </div>
    {% endif %}
    {% if alert_msg %}
        <div class="alert alert-danger" role="alert">
            {{ alert_msg }}
        </div>
    {% endif %}
    <h1>Change password</h1>
    <div class="center-box">
        <form class="form-group" method="post">
            <div>
                <label for="old-password">Old password</label>
                <input autocomplete="off" type="password" id="old-passwore" name="old-password"><br>
            </div>
            <div>
                <label for="new-password">New password</label>
                <input autocomplete="off" type="password" id="new-password" name="new-password"><br>
            </div>
            <div>
                <label for="confirm-new-password">Confirm new password</label>
                <input autocomplete="off" type="password" id="confirm-new-password" name="confirm-new-password"><br>
            </div>
            <div>
                <button type="submit" class="btn btn-dark transaction-btn" id="save-password">Save</button>
            </div>
        </form>
    </div>
{% endblock %}