{% extends "layout.html" %}

{% block title %}
    Trial Balance
{% endblock %}

{% block main %}
    <h1 class="statement-h1">Trial Balance as at {{ today_date }}</h1>
    <div class="statement-container">
        <div class="edit-delete">
            <a href="/trial-balance/download-excel" class="button-link"><button type="submit" class="btn btn-dark transaction-btn" id="download-excel">Download as Excel</button></a>
        </div>
        <div class="overflow">
            <table class="table table-bordered">
                <colgroup>
                    <col span="1" style="width: 50%;">
                    <col span="1" style="width: 25%;">
                    <col span="1" style="width: 25%;">
                </colgroup>
                <thead>
                    <th>Account name</th>
                    <th>Debit ({{ currency }})</th>
                    <th>Credit ({{ currency }})</th>
                </thead>
                <tbody>
                    {% for account in accounts %}
                    <tr>
                        <td>{{ account[0] }}</td>
                        {% if account[1] %}
                            <td>{{ account[1] }}</td>
                            <td></td>
                        {% else %}
                            <td></td>
                            <td>{{ account[2] }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="td-bold">{{ debit_total }}</td>
                        <td class="td-bold">{{ credit_total }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}